<div class="login-block">
<form action="#" th:action="@{/login}" method="post">
  <h5>Для входа введите имя пользователя и пароль</h5>
  <table>
    <tr>
      <td><label for="username">Имя пользователя:</label></td>
      <td><input type="text" id="username" name="username" required/></td>
      <br/>
    </tr>
    <tr>
      <td><label for="password">Пароль:</label></td>
      <td><input type="password" id="password" name="password" required/></td>  <br/>
    </tr></table>
  <button type="submit" class="btn btn-dark">Войти</button>
  <a href="/register">Нет аккаунта? Зарегистрироваться</a></body>
  <!--    <button type="submit" href="/logout">Выйти</button>-->
</form>
</div>